html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    text-align: center;
    background-image: url(https://t3.ftcdn.net/jpg/00/97/81/02/360_F_97810286_SYAktfuCvCY7uFYxqFI0BVIVflKzqNT9.jpg);
    background-size: cover;
    background-repeat: space;
}

h1, h2 {
    font-family: "Whisper", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    color: red;
}

canvas {
    width: 100%;
    height: 100%;
}

.game-container {
    max-width: 50em;
    background-color: beige;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .33fr .33fr .33fr;
    grid-template-columns: .33fr .33fr .33fr;
    grid-template-areas: "top-left top-center top-right"
                                "game game game"
                                "btm btm btm";
}

#top-left {
    grid-area: top-left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
#top-center {
    grid-area: top-center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#top-right {
    grid-area: top-right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

main {
    grid-area: game;
    background-image: url(images/game-background.png);
    background-repeat:no-repeat;
    background-size: cover;
    
}

#btm-block {
    grid-area: btm;
    background-color: black;
    height: 200px;
}

#game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 50px;
}

#start-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 95%;
    font-family: "Whisper", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    transition: all ease-in-out 500ms;

}

#end-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 95%;
    font-family: "Whisper", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    transition: all ease-in-out 500ms;

}

.hidden {
    transition: 0.5s;
    display: none;
}

#click-here {
    height: 90%;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-screen p {
    padding-left: 100px;
    padding-right: 100px;
}

